
*{
    font-size: 13px;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;

}

header{
    width: 100vw;
    height: 42.3px;    
    background-color:rgba(29,29,31, 0.9);
    backdrop-filter: blur(5px);
    z-index: 3;
    position: fixed;
}


ul{
    justify-content: space-between;
    width: 66%;    
    display: flex;
    margin: auto;
    height: 100%;
    align-items: center;
}

.nav-item{
    list-style: none;


}


.nav-link{
    color: #f7f7f7b2;
    height: 44px;
    padding: 12px;
    
}
.section-content{
    width: 100%;
    height: 44px;
    text-align: center;
    background-color: #f3f3f3;

}

.section-content-shop{
    padding: 12px;
    font-size: 14px;

} 

.section-content-shop-link{
    text-decoration: none;
    font-size: 14px;


}

.unit-link-ct1{
    width: 100%;
    height: 85vh;
    background-image: url(../img/iphone_12_apple_site.jpg);
    background-size: 2700px;
    background-position: center top;
    text-align: center;
    padding-top: 89px;
    margin-bottom: 5px;
    
    
}

.unit-link-title{
    color: #0f0f0ffa;
    font-weight: 550;
    
}

#text{
    font-size: 55px;
   

}

#phrase{
    font-size: 27px;


}

#link{
    text-decoration: none;
    font-size: 21px;
    color: #0066ccfa;


}

#link:hover{
    text-decoration:underline ;


}

.unit-link-ct2{
    width:  100%;
    height: 75vh;
    background-image: url(../img/iphone_12_pro.jpg);
    background-size: 3011px 624px;
    background-position: center;
    text-align: center;
    padding-top: 88px;
    
}



.unit-link-title2{
    color:#f3f3f3;
    font-weight: 550;

}

.unit-link-phrase2{
    color:#f3f3f3;


}

.unit-link-ct3{
    width:  100%;
    height: 80vh;
    background-image: url(../img/ipad_pro.jpg);
    background-size: 3011px 624px;
    background-position: center;
    text-align: center;
    padding-top: 88px;    
    margin-top: 10px;
}

.unit-link-title3{
    color: #f3f3f3;
    font-weight: 550;

}

.unit-link-phrase3{
    color: #f3f3f3;


}

.a-unit-link{
    background-image: url(../img/maceumaporcaria.jpg);
    background-position: center;
    text-align: center;
    padding-top: 62px;    
    margin-top: 10px;
    width: 800px;
    border: 5px white solid;

}

#text_b{
    color: #1D1D1F;
    font-size: 40px;
    font-weight: 560;
    text-align: center;
    margin-bottom: 10px;
}

#phrase_b{
    color:  #1D1D1F;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#link_b{
    margin-top: 10px;  
    font-size: 17px;
    text-decoration: none;

}

#link_b:hover{
    text-decoration: underline;


}

.b-unit-link{
    background-image: url(../img/apple-watch.jpg);
    background-position: center;
    text-align: center;
    padding-top: 62px;    
    margin-top: 10px;
    width: 800px;
    border: 5px white solid;

}

.unit-text-link-5{
    color: #f3f3f3;
    font-size: 20px;

}

.c-unit-link{
    background-image: url(../img/assistencia_tecnica.jpg);
    background-position: center;
    text-align: center;
    padding-top: 62px;    
    margin-top: 10px;
    background-size: cover;
    width: 800px;
    border: 5px white solid;
}

.d-unit-link{
    background-image: url(../img/air-tag.jpg);
    background-position: center;
    text-align: center;
    padding-top: 62px;    
    margin-top: 10px;
    background-size: cover;
    width: 800px;
    border: 5px white solid;
}