
*{
    font-size: 13px;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100vw;
    height: 42.3px;    
    background-color:rgba(29,29,31, 0.9);
    backdrop-filter: blur(5px);
    z-index: 3;
}


ul{
    justify-content: space-between;
    width: 68%;    
    display: flex;
    margin: auto;
}

.nav-item{
    list-style: none;


}


.nav-link{
    color: #f7f7f7b2;
    height: 44px;
    padding: 12px;
    
}

.section-content{
    width: 100%;
    height: 44px;
    text-align: center;
    background-color: #f3f3f3;

}

.section-content-shop{
    padding: 12px;
    font-size: 14px;

} 

.section-content-shop-link{
    text-decoration: none;
    font-size: 14px;


}

.unit-link-ct1{
    width: 100%;
    height: 80vh;
    background-image: url(../img/iphone_12_apple_site.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 88px;
    
}

.unit-link-title{
    color: #0f0f0ffa;
    font-weight: 570;
    
}

#text{
    font-size: 55px;

}

#phrase{
    font-size: 26px;


}